.container {
    display: flex;
    align-items: center;
    /*vertically*/
}

.container img {
    width: 1.2rem;
    height: 1.3rem;
    display: inline
}

.container ul {
    display: inline;
    margin: 0;
}

.container ul li {
    display: inline;
    padding: 0.8em;
    font-size: 0.2em;
}